include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include README.md
include requirements.txt
recursive-include inspire_eu *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
